@media screen and (min-width: 480px) {
    .container {
        max-width: 426px;
            }
    .title-hero{
        width: 320px;
    }        
    .container.container-mobile-menu{
        padding: 80px 34px 40px 39px;
    }
}