
/* index.html */

:root{
    --secondary-title-color: #2E2F42;
    --main-subtitle-color:  #2E2F42;
    --main-text-color:  #434455;
    --secondary-font: 'Raleway', san-serif;
    --accent-color:#404BBF;
    --main-background: #FFFFFF;
    --transition-duration: 250ms;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    background-color: --main-background;
    font-family: "Roboto", sans-serif;
    color:var(--main-subtitle-color);
    margin: 0;
}

.list{
list-style: none;
padding: 0;
margin: 0;

}
.link{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,h2,h3,h4,p,ul {
margin:0;}

img{
    display:block;
    max-width:100%;
    height: auto;
} 
    /* header */
.header{
    border-bottom:1px solid #E7E9FC;
    
 
}
.header-logo {
    color: inherit;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
    
}
.header-partlogo {
 color: #4D5AE5;   
}


.header-burger-button{
    background-color:#FFFFFF;
    border: none; 
    padding: 0;
    width: 50px;
    margin-left: auto;
    height:32px;
    line-height: 0;
}
@media screen and (max-width: 767px) {
    .header-first{
        display:none;
    }
    .header-list{
        display:none;
    }
    .header-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
   .header{
    padding: 24px 0;
   }
}
 
    /* Section Hero */

.hero {
    background-color: #2E2F42; 
    padding: 112px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin:0 auto; 

}

.title-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 480px){
.title-hero{
    max-width: 320px;
}
}

.button-hero {
    font-family:inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 16px 32px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color var(--transition-duration) var(--transition-timing);
   
    
}

 .button-hero:hover,
 .button-hero:focus {
     background-color: var(--accent-color);
 }

 

    /* Section about */

.about{
    padding: 96px 0;
}

.about-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

.about-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color:var(--main-text-color);
    text-align: center;
    max-width:100%;
    display: inline-block;
}
@media screen and (max-width: 767px) {
.about-text {
    margin-bottom: 72px;
    }
.about-text.last{
    margin-bottom: 0;
}
}

.about-item{
    width:100%;
}
.about-list{
    width:100%;
}

    /* Section activity */

.activity {
padding-bottom: 120px;
display:none;

}
.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;   
    margin-bottom: 72px;
}
.activity-list {
    display: flex;
}
.activity-item:not(:last-child) {
    margin-right: 24px;
}

    /* Section team */

        .team {
            background-color: #F4F4FD;
            padding: 96px 0;
        }
    
        .team-title { 
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            margin-bottom: 72px;
            }
    
        .team-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }
    
        .team-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;        
            color:var(--main-text-color);
            margin-bottom: 8px;
        }

        
        .team-item{
             box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
             border-radius: 0px 0px 4px 4px;
        }

        @media screen and (max-width: 767px) {
        .team-item:not(:last-child) {
             margin-bottom: 72px;}
        .team-item {
            width: 264px;
            margin-left: auto;
            margin-right: auto;
        }
}


        .team-item > .part-card {
            padding: 32px 16px;
            background-color: #FFFFFF;
            }
            
        .part-card-list{
            display: flex;
        }
        .part-card-item{
            height: 40px;
            width: 40px;
        }
        .part-card-item:not(:last-child){
            margin-right: 24px;
        }
        .part-card-link{
            display:inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4D5AE5;
            padding:12px 12px;
            color:#FFFFFF;
            transition: background-color var(--transition-duration) var(--transition-timing);
        }

        .part-card-link:hover, .part-card-link:focus{
            background-color:#404BBF;
        }
        .part-card-icon{
         fill: currentColor;
        }

        /* Section Customers */

        .customers{
            padding:96px 0;
        }
        .customers-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            margin-bottom: 72px;
        }
    
        .customers-item{
            width:  190px;
            height: 88px;
        }

        .customers-link{
            display:inline-block;
            width: 100%;
            height: 100%;
            padding: 16px 32px;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            color:#8e8f99;
            transition: color var(--transition-duration) var(--transition-timing), border var(--transition-duration) var(--transition-timing);
        }
        .customers-link:hover, .customers-link:focus{
            border: 1px solid #404BBF;
            color:#404BBF;
           
        }

        
        .customers-icon{
            width: 110px;
            height: 56px;
            fill:currentColor;
            display: block;
            margin-right: auto;
            margin-left: auto;
          
        }
        @media screen and (max-width: 425px) {
        .customers-item{
        margin-left: auto;
        margin-right: auto;
        }
        .customers-item:not(:last-child){
            margin-bottom: 72px;}
        
        }
        @media screen and (min-width: 426px) and (max-width: 767px){
        .customers-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;}
        .customers-item:nth-child(2n+1){
        margin-right: 16px;
        }
        .customers-item{
        margin-bottom: 72px;
        }
        .customers-item:nth-last-child(-n+2) {
        margin-bottom: 0;
        }
}

        /* Footer */

        .footer {
            background-color: #2E2F42;
            padding: 96px 0;
                }
                
        
        .footer-logo {
            font-family: var(--secondary-font);
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            /* align-items: center; */
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #F4F4FD;
            margin-bottom: 16px;
            display: block;
                }
        
        .footer-partlogo {
        color: #4D5AE5;
                }
        
        .footer-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;    
            letter-spacing: 0.02em;
            color: #E7E9FC;
            display:block; 
        }

        .footer-subtitle{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
            display: block;
        }
        
        .footer-list {
            display: flex;}

        .footer-item {
            height: 40px;
            width: 40px;
        }

        .footer-item:not(:last-child){
            margin-right: 16px;
        }
            
        .footer-link {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4D5AE5;
            padding: 8px 8px;
            color: #FFFFFF;
            transition: background-color var(--transition-duration) var(--transition-timing);
        }

        .footer-link:hover,
        .footer-link:focus {
            background-color: #31D0AA;}
            
        .footer-icon {
            fill: currentColor;
                 }
        /* .footer-third-part{
            margin-left: auto;
        } */
        .footer-label{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
            display:block;
        }
        .footer-input{
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            outline: transparent;
            background-color: #2E2F42;
            color: #FFFFFF;
            padding: 8px 16px;
            
        }
        .footer-input::placeholder{
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }
        .footer-form-button{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background-color: #4D5AE5;
            border-radius: 4px;
            cursor: pointer;
            padding: 8px 24px;
            border: none;
            width: 165px;
            height:40px;
            display:block;

        
        }
        .footer-form-button:hover {
            background-color: var(--accent-color);
            transition: background-color var(--transition-duration) var(--transition-timing);

        }
        .footer-form-icon{

            transform: translateY(25%); 
            margin-left: 10px; 
      
        }
        .footer-first-part {
            max-width: 268px;
        }
        .footer-seecondary-part{
            max-width: 208px;
        }
        @media screen and (max-width: 767px) {
        .footer-logo {
            text-align: center;}
        .footer-text{
            width:100%;
        }
        .footer-first-part{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 72px;
        }
        .footer-seecondary-part{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 72px; 
        }
        .footer-subtitle{
            text-align: center;
        }
        .footer-third-part{
            width: 100%;
        }
        .footer-label{
            text-align: center;
        }
        .footer-input{
            width: 100%;
            margin-bottom: 16px;
        }
        .footer-form-button{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

}
    /* Portfolio */
    
    .portfolio {
        padding: 96px 0 120px;
    }

        .portfolio-button{
            padding: 12px 24px;
            font-family:inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: #4D5AE5;
            background: #F4F4FD;
            border: 1px solid #E7E9FC;
            border-radius: 4px;
            cursor: pointer;
            transition: color var(--transition-duration) var(--transition-timing), 
            background-color var(--transition-duration) var(--transition-timing), 
            border var(--transition-duration) var(--transition-timing),
            box-shadow var(--transition-duration) var(--transition-timing);
                }
        .portfolio-button:hover,
        .portfolio-button:focus {
            color: #FFFFFF;
            background-color:var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border: 1px solid var(--accent-color);
                }

        .portfolio-subtitle{
            color:var(--main-subtitle-color);
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
                }
        .portfolio-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--main-text-color);
                }
        .portfolio-link{
            display: block;
            transition: box-shadow var(--transition-duration) var(--transition-timing);
            
        }
        .portfolio-link:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        
        }

        .portfolio-list-btn{
            display:flex;
            padding-left: 0;
            margin-bottom: 72px;
            justify-content: center;
            
        }

       
        .portfolio-item-btn:not(:last-child) {
            margin-right: 24px;

        }
 
        .portfolio-list{
            display: flex;
            flex-wrap: wrap;
        
        }
        
        .portfolio-item {
           width: 360px; 
           margin-right: 24px;  
           margin-bottom: 48px;
          
        }
        .portfolio-item:nth-child(3n){
            margin-right: 0; }

        .portfolio-item:nth-last-child(-n + 3) {
            margin-bottom: 0;
                }

                
.portfolio-link > .part-card {
            padding:32px 16px; 
            border-bottom: 1px solid #E7E9FC;
            border-left: 1px solid #E7E9FC;
            border-right: 1px solid #E7E9FC;


        }
        .cardoverlay{
        position: relative; 
        overflow: hidden; 
       }
        
        .nonvisieble{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        transform:translateY(100%) ;
        padding: 40px 32px;
        opacity: 0;
        background-color:#4D5AE5;
        transition: transform var(--transition-duration) var(--transition-timing);
       }
        .portfolio-link:hover .nonvisieble {
            opacity:1;
            transform: translateY(0%);
        }
        .portfolio-link:focus .nonvisieble {
            opacity: 1;
            transform: translateY(0%);
        }
     

        /* Modalka */
        .backdrop{
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(46, 47, 66, 0.4);
            opacity: 1;
            transition: opacity var(--transition-duration) var(--transition-timing);
            padding: 96px 18px 114px;
            overflow-y: scroll;

        }
        .backdrop.is-hidden{
            opacity: 0;
            pointer-events: none;
        }

        .backdrop.is-hidden .modal{
            transform: translate(-50%, -50%) scale(0.01);

        }
        .modal{
            position: relative;
            width: 100%;
            min-height: 586px;
            padding: 72px 16px 24px;
            background: #FCFCFC;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform var(--transition-duration) var(--transition-timing);
        }
        .modal-bottom{
            position: absolute;
            right:24px;
            top:24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #E7E9FC;
            border: 1px solid rgba(0, 0, 0, 0.1);
            color: black;
            transition: background-color var(--transition-duration) var(--transition-timing);
        
        }
        .modal-icon{
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            fill: currentColor;
            transition: fill var(--transition-duration) var(--transition-timing);

        }
        .modal-bottom:hover, .modal-bottom:hover{
            background-color: var(--accent-color);
            color:#FFFFFF;
        }
        .modal-title {
            font-weight: 500;
            font-size: 16px; 
            line-height: 1.5; 
            text-align: center; 
            letter-spacing: 0.02em;
            color: #2E2F42;  
            margin-bottom: 16px;
        }

        .modal-input{
            width:100%;
            height:40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            padding-left: 38px;
            padding-right: 16px;
            outline: transparent;
            transition: border var(--transition-duration) var(--transition-timing);
        }
        .modal-input:focus{
            border: 1px solid #4D5AE5;
        }
        .modal-input:focus + .modal-form-icon{
            fill:#4D5AE5;

        }
        .modal-textarea{
            width:100%;
            min-height:120px;
            padding:8px 16px;
            margin-bottom: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            resize: none;
            outline: transparent;
            transition: border var(--transition-duration) var(--transition-timing);
        }
        .modal-textarea:focus{
            border: 1px solid #4D5AE5;
        }
        .modal-textarea::placeholder{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
        }
        .modal-bottom-form{
            font-family: inherit;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                align-items: center;
                letter-spacing: 0.04em;
                color: #FFFFFF;
                background-color: #4D5AE5;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
                padding: 16px 32px;
                border: none;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 169px;
                transition: background-color var(--transition-duration) var(--transition-timing);
        }
        .modal-bottom-form:hover,
        .modal-bottom-form:focus {
            background-color: var(--accent-color);
        }
        
        .modal-label{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.166;
            letter-spacing: 0.04em;
            color: #8E8F99;
            margin-bottom: 4px;
            display: block;
        }
        .form-group{
            position: relative;
            margin-bottom: 8px;
        }

        .modal-form-icon{
            position: absolute;
            left:16px;
            top:27px;
            transition: fill var(--transition-duration) var(--transition-timing);

        }
        .modal-form-icon{
            fill:#2E2F42;
        }
        .modal-checkbox-label{
            font-weight: 400;
            font-size: 12px;
            line-height: 1.166;
            letter-spacing: 0.04em;
            color: #8E8F99;
            display: flex;
            margin-bottom: 24px;
            align-items: center;
        }
        .modal-checkbox-label::before{
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 2px;
            margin-right: 8px;
        }
        .modal-checkbox:checked + .modal-checkbox-label::before {
            background-color:#404BBF;
            border: 1px solid#404BBF;
            background-image: url(../images/checked.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .modal-policy{
            color:rgba(77, 90, 229, 1);
            font-size: 12px;
            margin-left: 4px;
        }
         @media screen and (min-width: 426px) and (max-width: 768px){
        .modal{
            width:392px;
            margin-left: auto;
            margin-right: auto;
            }
        .backdrop{
            overflow-y: scroll;
        }

         }